<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Registrasi User"}); %>
<body style="background-color: rgba(0, 0, 0, 0.08);">
    <%- include('partials/navbar', {role: ""}); %>
    <div style="margin: 200px 200px;">
        <div class="row">
            <div class="col-6 mt-3 mb-auto">
                <h1 style="font-size: 50px;">MenuDigital</h1>
                <h3>Buat pemesanan</h3>
                <h3>makanan menjadi mudah.</h3>
                <figure>
                    <h5>Cuma tinggal membuka aplikasi MenuDigital lihat menunya, pesan, dapatkan!</h5>
                </figure>
                <div>
                    <a href="/register" class="btn btn-success">Register</a>

                    <a href="/login" class="btn btn-outline-secondary">Login</a>
                </div>
            </div>
            <div class="col-6">
                <img src="https://cdn.discordapp.com/attachments/968430984414498846/979445057180540928/unknown.png" height="300px" width="100%">
            </div>
        </div>
    </div>
</body>
</html>